.message_list {
  position: relative;
  width: 100%;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  overflow-y: scroll;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}

.message_list::-webkit-scrollbar {
  display: none;
}

.message {
  display: flex;
}

.message:not(:first-child) {
  margin: 20px 0 0 0;
}

.profile {
  display: inline-block;
  max-width: 40px;
  max-height: 40px;
  border-radius: 100%;
  border: 1px solid #ccc;
  overflow: hidden;
  margin: 0 10px 0 0;
}

.profile img {
  width: 100%;
  height: 100%;
}

.nickname {
  font-weight: 800;
  font-size: 18px;
}

.text {
  display: inline-block;
  padding: 7px 15px;
  border-radius: 20px;
  color: #333;
  background: #f2f2f2;
  font-size: 15px;
}

.time {
  margin: 3px 0 0 0;
  font-size: 13px;
  color: #c2c2c2;
}

.message.current_user {
  flex-direction: row-reverse;
  text-align: right;
}

.message.current_user .profile {
  margin: 0 0 0 10px;
}

.message.current_user .nickname {
  display: none;
}
