.menu {
  display: flex;
  padding: 20px 10px;
  border-radius: 15px;
  border: 1px solid #ccc;
  text-align: center;
  background: #fff;
}

.menu > div {
  display: flex;
  margin: 0 10px;
}

.menu i {
  font-size: 24px;
  color: #929292;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .menu {
    padding: 15px 10px;
    border-radius: 10px;
  }
}
