.app {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: url(./assets/chat_bg.jpg) center/cover no-repeat;
}
