@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");
/* index.css */
/* 전역 스타일 초기화 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

/* 폰트 설정 */
body {
  font-family: "NanumSquare", san-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #fff;
  font-size: 16px;
}

/* 기본 링크 스타일 */
a {
  color: #333;
  text-decoration: none;
}

/* 기본 버튼 스타일 */
button {
  display: inline-block;
  border: none;
  cursor: pointer;
}

/* 입력 필드 스타일 */
input,
button,
textarea {
  font-family: inherit;
  font-size: 100%;
}

input:focus {
  outline: 0;
}

/* 기본 이미지 스타일 */
img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

ul,
li {
  list-style: none;
}
